DEV_MODE=1

# OpenAI API Key (Required)
OPENAI_API_KEY=change-this-to-your-openai-secret-key

# JWT Secret Key for access token signing (Required for secure API)
JWT_SECRET=your-jwt-secret-key-here

# Admin Password (for initial admin user)
ADMIN_KEY=admin

# Hash access token before storing
TOKEN_HASHING_SECRET=server_side_password

# Middleware, comma seperated string
ALLOWED_HOSTS="chat.example.com"

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db